<h2>Update your Post</h2>
<h2>{{title}}</h2>
<p>{{content}}</p>

<form class="form update-form">
  <p>Update your Post</p>
  <div class="form-group">
        <label for="update-title">title:</label>
        <input class="form-input" type="text" id="update-title" value="{{title}}" />
      </div>
    <div class="form-group">
      <label for="update-content">content:</label>
      <textarea class="form-input" type="text" id="update-content">{{content}}</textarea>
      {{!-- <input class="form-input" type="hidden" id="post_id" value="{{id}}" /> --}}
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">update my post</button>
      <button class="btn btn-primary" type="submit">delete my post</button>
    </div>
  </form>