<div class="row mt-2 project d-flex justify-content-center">
  <div class="col-10 border border-dark bg-home rounded">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>Posted by {{user.username}} on {{format_date updatedAt}}</p>
  </div>
  <form class="form comment-form col-9 mt-2  d-flex justify-content-center align-items-center">
    <div class="form-group d-flex align-items-center">
      <label class="mx-2" for="comment-content">Comment:</label>
      <textarea class="form-input" type="text" id="comment-content"></textarea>
      <input class="form-input" type="hidden" id="post_id" value="{{id}}" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary mx-2" type="submit">Post</button>
    </div>
  </form>
</div>

{{#each comments as |comment|}}
  <div class="row mb-2 project d-flex justify-content-center">
    <div class="col-9 border border-dark bg-comment rounded">
      <h2>
        <a>{{comment.content}}</a>
      </h2>
      <p>-{{comment.user.username}} ,{{format_date comment.createdAt}}</p>
    </div>
  </div>
{{/each}}

<script src="/js/comment.js"></script>